@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #ffff;
  z-index: 2;
  padding: 100px;
  transition: 0.5s;
}

.showcase.active {
  right: 300px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("../image/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url("../image/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  position: relative;
  z-index: 10;
  max-width: 700px;
}

.text h2 {
  font-size: 3em;
  line-height: 1em;
}

.text h3 {
  font-size: 5em;
  line-height: 1em;
  font-weight: 800;
  text-transform: uppercase;
}

.text p {
  margin-top: 10px;
  font-weight: 400;
}

.text a {
  text-transform: uppercase;
  background-color: #ffff;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  display: inline-block;
  font-size: 1em;
  padding: 10px 30px;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  margin-right: 20px;
  display: inline-block;
  transform: scale(0.6);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.6) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.menu ul li a:hover {
  color: salmon;
}

@media (max-width: 788px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 2em;
  }

  .text h3 {
    font-size: 4em;
  }

  .text p {
    font-size: 1em;
  }

  .menu ul li a {
    font-size: 20px;
  }

  #about .wkm {
    margin-top: 10px;
  }
}

/* about */
.heading-content {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
  color: #ffff;
}

.about {
  font-family: "Poppins" sans-serif;
}
/* about */
